{% extends "base.html.twig" %}

{% block title %} Reset Password {% endblock %}

{% block body %}

    <div class="container">

        <h1>Changement de mot de passe</h1>

        {{form_start(form)}}

            {{form_row(form.oldPassword)}}
            {{form_row(form.newPassword)}}

            <button type="submit" class="btn btn-primary">Changer de Mot de passe</button>

        {{form_end(form)}}

    </div>


{% endblock %}