div.ad_title
{
    padding : 2em;
    background-size: cover;
    background-position: center center;
}

div.ad_title h1, div.ad_title p{
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

div.container
{
    margin-top : 20px;
}

div.carousel-caption{
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

.avatar{
    border-radius: 50%;
    max-height: 128px;
    max-width: 128px;
}
.avatar-min{
    border-radius: 50%;
    max-height: 32px;
    max-width: 32px;
}
.avatar-middle{
    border-radius: 50%;
    max-height: 64px;
    max-width: 64px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: red !important;
}

.arrondi{
    border-radius: 5px;
}

.ratingStar{
    color : rgb(0, 162, 255);
}
