div.ad_title
{
    padding : 2em;
    background-size: cover;
    background-position: center center;
}

div.ad_title h1, div.ad_title p{
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

div.container
{
    margin-top : 20px;
}

div.carousel-caption{
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

/* html{
    min-height: 100vh;
}
body{
    
    min-height: 100vh;
} */
